<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head.ejs', {title})%>
</head>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>

    <div class="container-fluid h-100 bg-primary">
        <div class="row h-100">
            <div class="col-12">
                <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-dark">
                    <h1 class="display-4">Hemuer</h1>
                    <p class="lead">An AI Tool to record Expressions of users as they watch a video and then
                        visualize the most funny parts of it!</p>
                    <div class="mt-2 mx-auto">
                        <div class="row mb-3">
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&repo=Hemuer-AI-Expression-Detector&type=star&count=true&size=large"
                                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&repo=Hemuer-AI-Expression-Detector&type=fork&count=true&size=large"
                                    frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&type=follow&count=true&size=large"
                                    frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 pt-4">
                            <a href="#info" class="btn btn-outline-light btn-lg">
                                More
                                <i class="fa fa-chevron-down"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section id="cards" class="container pt-4 mt-10">
        <div class="d-flex my-3">
            <div class="jumbotron w-100 py-5 mx-auto">
                <h1>What is Hemuer?</h1>
                <h4>Hemuer, is an AI Tool to record facial expressions of users as they watch a video and then
                    visualize
                    it the most funny parts of the video!
                </h4>
                <p class="lead">
                    Rapidy build custom themes for Bootstrap, the world's most
                    popular front-end component library for mobile-first,
                    responsive Web apps. <a class="font-weight-bold" href="https://themestr.app">Themestr.app</a> is
                    a customizer and theme creator for Bootstrap.
                    Choose from a huge collection of color palettes, fonts and SASS variables. Prototype different
                    styles, and
                    easily generate CSS from SASS to give your projects a unique look-and-feel.
                </p>
            </div>
        </div>
    </section>



    <%- include('../views/effects.ejs')%>
    <%- include('../views/utils.ejs')%>
    <%- include('../views/partials/footer.ejs')%>

</body>

</html>