<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head.ejs', {title})%>
</head>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>

    <div class="container-fluid h-100 bg-primary">
        <div class="row h-100">
            <div class="col-12">
                <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-dark">
                    <h1 class="display-4">Hemuer</h1>
                    <p class="lead">An AI Tool to record Expressions of users as they watch a video and then
                        visualize the most funny parts of it!</p>
                    <div class="mt-2 mx-auto">
                        <div class="row mb-3">
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&repo=Hemuer-AI-Expression-Detector&type=star&count=true&size=large"
                                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&repo=Hemuer-AI-Expression-Detector&type=fork&count=true&size=large"
                                    frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <iframe
                                    src="https://ghbtns.com/github-btn.html?user=ct83&type=follow&count=true&size=large"
                                    frameborder="0" scrolling="0" width="220px" height="30px"></iframe>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12 pt-4">
                            <a href="#info" class="btn btn-outline-light btn-lg">
                                More
                                <i class="fa fa-chevron-down"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section id="cards" class="container pt-4 mt-10">
        <div class="d-flex my-3">
            <div class="jumbotron w-100 py-5 mx-auto">
                <h1>What is Hemuer?</h1>
                <h4>Hemuer, is an AI Emotion Detection Tool build using NodeJS, MongoDB and RabbitMQ, and TensorFlowJS.
                </h4>
                <p class="lead">
                    It which watches users as they watch a video, and logs when the users smile. The data recorded can
                    be used to skip to the funniest parts of the video!
                    <br>
                    All of the Computer Vision stuff is done in the browser itself.
                    <br>
                    <strong>
                        No video or images are ever sent to
                        the server.
                    </strong>
                </p>
            </div>
        </div>


        <div class="row text-center">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 copyable">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-2 text-primary"><span class="ion ion-ios-snow-outline"></span></h1>
                        <h4 class="card-title text-primary">Unique</h4>
                        <p class="card-text">
                            <ul type="none">
                                <li>Screen <strong>jiggles</strong> when you <strong>giggle</strong>!</li>
                                <li>Chat Panel, <strong>pops</strong> everytime someone laughs (or
                                    <strong>talks</strong>)</li>
                                <li>Links above the messages, <strong>allow to skip</strong> to the <strong>funny
                                        bits</strong></li>
                            </ul>
                        </p>
                        <a href="/" class="btn btn-primary mt-auto copyable">Check It Out<a href=""
                                class="copyable-trigger" data-original-title="" title="">&lt;&gt;</a></a>
                    </div>
                    <a href="" class="copyable-trigger" data-original-title="" title="">&lt;&gt;</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 copyable">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-2 text-primary"><span class="ion ion-ios-cube"></span>
                        </h1>
                        <h4 class="card-title text-primary">Privacy First</h4>
                        <p class="card-text">Facial Recognition is done in the browser itself. No video ever leaves your device. <br>
                        Check your Network Panel in Dev Tools to verify this! 
                        </p>
                        <a href="" class="copyable-trigger"
                                data-original-title="" title="">&lt;&gt;</a>
                    </div>
                    <a href="" class="copyable-trigger" data-original-title="" title="">&lt;&gt;</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 copyable">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <h1 class="display-2 text-primary"><span class="ion ion-ios-heart-outline"></span></h1>
                        <h4 class="card-title text-primary">Open Source</h4>
                        <p class="card-text">
                            <em>This is where I nag you for stars</em>... 😪
                            <br>
                            Can I get a star?
                        </p>
                        <a href="https://github.com/ct83/Hemuer-AI-Expression-Detector/" class="btn btn-primary mt-auto copyable">View on Github<a href="" class="copyable-trigger"
                                data-original-title="" title="">&lt;&gt;</a></a>
                    </div>
                    <a href="" class="copyable-trigger" data-original-title="" title="">&lt;&gt;</a>
                </div>
            </div>
        </div>
    </section>



    <%- include('../views/effects.ejs')%>
    <%- include('../views/utils.ejs')%>
    <%- include('../views/partials/footer.ejs')%>

</body>

</html>