<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/head.ejs')%>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>

    <section id="main-container" class="container-fluid">

    </section>


    <%- include('../views/effects.ejs')%>
    <%- include('../views/utils.ejs')%>
    <%- include('../views/partials/footer.ejs')%>

</body>

</html>