<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../views/partials/head.ejs')%>
    <meta property="og:title" content="Hemuer.ai 🙂 - Share a Smile!">
    <meta property="og:description" content="Laugh when others laugh, smile when they smile with Hemuer.">
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
</head>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>
    <style>
        .outer {
            display: flex;
            flex-flow: column;
            height: 100%;
        }
    </style>

    <section id="main-container" class="container-fluid">
        <div class="row vh-100">
            <div class="col-lg-9 col-md-9 col-sm-8 my-auto outer" style="padding:5px">
                <div style="flex-grow : 1;">
                    <%- include('../views/video_frame.ejs'),{video_id}%>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 my-auto bg-white outer" style="padding:5px">
                <%- include('../views/msg-box.ejs')%>
            </div>
        </div>

        <div class="webcam-pane">
            <%- include('../views/expression-detector.ejs')%>
        </div>
    </section>

    <script>
        var prevPred;
        var mute = true;
        setTimeout(function () { mute = false }, 4000); //mute msg pop sounds for first 2 seconds
        setTimeout(function () { document.getElementById('scroll-pane').scrollTop = 100000000000; }, 4000); //mute msg pop sounds for first 2 seconds

        time_update_interval = setInterval(function () {
            if (topExpression !== null && prevPred != topExpression) {
                if (topExpression != 'neutral' && topExpression != 'angry') {
                    var seek_time = player.getCurrentTime();
                    var expression = topExpression;
                    var username = USERNAME;
                    var d = new Date();
                    var sent_time = d.getTime();
                    addMessageBubble(username = "You", message = "I was " + expression, sent_time = sent_time, seek_time = seek_time, you = true);
                    addExpressionToQueue(seek_time, "", USERNAME, expression)
                    document.getElementById('scroll-pane').scrollTop = 100000000000;
                    if (topExpression == 'happy') {
                        slowShake()
                    }
                }
                prevPred = topExpression;
            }
        }, 1000)
        setInterval(function () {
            document.getElementById('scroll-pane').scrollTop = 100000000000;
        }, 7000)
        setInterval(function () {
            prevPred = null;
        }, 6000)

        function addExpressionToQueue(time, video_url, username, expression) {
            var d = new Date()
            var sent_time = d.getTime();
            $.post("/add-expression", { time, video_url, username, expression, sent_time: sent_time });
        }


        var addedIds = [];
        // Add users except You to side pane, add ids not added
        setInterval(function properAddToSidePane() {
            $.getJSON("/recent-expressions-and-messages", function (result) {
                $.each(result['data'], function (i, field) {
                    if (!addedIds.includes(field._id) && field.username != USERNAME) {
                        addedIds.push(field._id)
                        field.seek_time = field.time;

                        if (field.expression != null) {
                            addMessageBubble(field.username, "I was " + field.expression, sent_time = field.sent_time, seek_time = field.seek_time, you = false, play_sound = mute)
                        } else {
                            addMessageBubble(field.username, field.message, you = false, sent_time = field.sent_time, play_sound = mute)
                        }
                    }
                });
            });
        }, 2000)
    </script>

    <%- include('../views/effects.ejs')%>
    <%- include('../views/utils.ejs')%>
    <%- include('../views/partials/footer.ejs')%>

</body>

</html>