<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/head.ejs')%>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>
    <style>
        .outer {
            display: flex;
            flex-flow: column;
            height: 100%;
        }
    </style>

    <section id="main-container" class="container-fluid">
        <div class="row vh-100">
            <div class="col-lg-9 col-md-9 col-sm-8 my-auto outer" style="padding:5px">
                <div style="flex-grow : 1;">
                    <%- include('../views/video_frame.ejs')%>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 my-auto bg-white outer" style="padding:5px">
                <%- include('../views/msg-box.ejs')%>
            </div>
        </div>

        <div class="webcam-pane">
            <%- include('../views/expression-detector.ejs')%>
        </div>
    </section>

    <script>
        var prevPred;
        time_update_interval = setInterval(function () {
            if (topExpression !== null && prevPred != topExpression) {
                if (topExpression != 'neutral' && topExpression != 'angry') {
                    var time = player.getCurrentTime();
                    var expression = topExpression;
                    var username = USERNAME;
                    addMessageBubble(USERNAME, "You were " + expression, time, you = true);
                    addExpressionToQueue(time, "", username, expression)
                    if (topExpression == 'happy') {
                        slowShake()
                    }
                }
                prevPred = topExpression;
            }
        }, 1000)
        setInterval(function () {
            document.getElementById('scroll-pane').scrollTop = 100000000000;
        }, 900)
        setInterval(function () {
            prevPred = null;
        }, 6000)

        function addExpressionToQueue(time, video_url, username, expression) {
            $.post("/add-expression", { time, video_url, username, expression });
        }


        var addedIds = [];
        var firstRun = true;
        // Add users except You to side pane, add ids not added
        setInterval(function properAddToSidePane() {
            $.getJSON("/recent-expressions", function (result) {
                $.each(result['smiles'], function (i, field) {
                    if (!addedIds.includes(field._id) && field.username != USERNAME) {
                        addedIds.push(field._id)
                        addMessageBubble(field.username, field.username + " was " + field.expression, field.time, play_sound = !firstRun)
                    }
                    firstRun = false;
                });
            });
        }, 2000)
    </script>

    <%- include('../views/effects.ejs')%>

    <%- include('../views/partials/footer.ejs')%>

</body>

</html>