<!DOCTYPE html>
<html lang="en">
<%- include('../views/partials/head.ejs')%>

<body data-spy="scroll" data-target="#navbar1" data-offset="60">

    <%- include('../views/partials/header.ejs')%>
    <style>
        .outer {
            display: flex;
            flex-flow: column;
            height: 100%;
        }


        .fixed {
            padding-top: 25px;
            height: 100%;
            overflow: hidden;
        }

        .scrollit {
            height: 100%;
            padding-top: 480px;
            overflow-y: scroll;
        }
    </style>

    <section class="container-fluid">
        <div class="row vh-100">
            <div class="col-lg-9 col-sm-6 my-auto outer">
                <div style="flex-grow : 1;">
                    <%- include('../views/video_frame.ejs')%>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 my-auto bg-secondary outer">
                <div style="flex-grow : 1;" class="fixed">
                    <div id="scroll-pane" class="scrollit">
                        <ul id="message-history">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="webcam-pane">
            <%- include('../views/expression_detector.ejs')%>
        </div>
    </section>

    <script>
        var prevPred;
        time_update_interval = setInterval(function () {
            if (topExpression !== null && prevPred != topExpression) {
                addMessageBubble("", USERNAME + " was " + topExpression, player.getCurrentTime());
                prevPred = topExpression;
            }
        }, 1000)
        setInterval(function () {
            document.getElementById('scroll-pane').scrollTop = 100000000000;
        }, 900)
        setInterval(function () {
            prevPred = null;
        }, 6000)
    </script>

    <%- include('../views/partials/footer.ejs')%>

</body>

</html>